<index:>
  <div>
    <div class="col-sm-3 server-list">
      <view name="server-list" servers="{{#root._page.servers}}"></view>
    </div>
    <div as="contentTarget" class="col-sm-9 {{unless #root._page.selectedServer.connected}}disconnected{{/}} {{if mouseOver}}mouse-over{{/}} {{if smallScreen}}small-screen{{/}} {{if xsmallScreen}}xsmall-screen{{/}}">
      <tabs selected-index="{{#root._page.currentTab}}">

        <pane title="Monitor">
          <view name="saron-monitor" servers="{{#root._page.servers}}" selected-server="{{#root._page.selectedServer}}"></view>
        </pane>
        <pane title="Terminal">
          <view name="saron-terminal" servers="{{#root._page.servers}}" selected-server="{{#root._page.selectedServer}}"></view>
        </pane>
        <pane title="Logs">
          <view name="saron-logs" servers="{{#root._page.servers}}" selected-server="{{#root._page.selectedServer}}"></view>
        </pane>
        <pane title="Settings">
          <view name="server-settings" server="{{#root._page.selectedServer}}"></view>
        </pane>

        <!--{{each servers as #serverss}}-->
        <!--{{/each}}-->
      </tabs>
    </div>
  </div>
  {{unless #root._page.servers}}
    <div class="right-bottom-alert">
      <alert type="warning" dismiss="&times;">You are not monitoring any servers at the moment.</alert>
    </div>
  {{else}}
    {{on #root._page.selectedServer}}
      {{if !#root._page.selectedServer.connected}}
        <div class="right-bottom-alert">
          <alert type="danger" dismiss="&times;">Server '<strong>{{#root._page.selectedServer.name}}</strong>' is unavailable.</alert>
        </div>
      {{/}}
    {{/}}
  {{/}}

<server-list:>
  <ul class="server-list nav nav-pills nav-stacked {{if showServers}}hidden{{else}}visible-xs{{/}}">
    <li as="sServer" class="sserver active" on-click="showServers()">
      <a>
        <p><i class="dicon glyphicon glyphicon-chevron-down"></i>{{#root._page.selectedServer.name}}</p>
        {{if #root._page.selectedServer.connected}}
          <i class="sicon glyphicon glyphicon-ok-sign"></i>
        {{else}}
          <i class="sicon glyphicon glyphicon-exclamation-sign"></i>
        {{/}}
      </a>
    </li>
  </ul>

  <h1 class="hidden-xs">Monitored servers</h1>
  <ul class="server-list nav nav-pills nav-stacked {{unless showServers}}hidden-xs{{/}}">
    {{each servers as #server, #i}}
      <li on-click="select(#i)" class="{{if #root._page.selectedServer === #server}}active{{/if}}">
        <a>
          <p>{{#server.name}}</p>
          {{if #server.connected}}
            <i class="sicon glyphicon glyphicon-ok-sign"></i>
          {{else}}
            <i class="sicon glyphicon glyphicon-exclamation-sign"></i>
          {{/}}
        </a>
      </li>
    {{/each}}
  </ul>

<server-settings:>
  {{if @server}}
    <div class="server-settings">
      <h1 class="server-title"><strong>{{@server.name}}</strong></h1>
      <div class="dangerous-area">
        <h2>Click the button below to stop monitoring this server.</h2>
        <button class="btn btn-danger" on-click="deleteServer()">STOP MONITORING</button>
      </div>
    </div>
  {{/}}