<index:>
  <div>
    <div class="col-md-3">
      <h1>Monitored servers</h1>
      <ul class="nav nav-pills nav-stacked">
        {{each servers as #server, #i}}
          <li on-click="select(#i)" class="{{if selected === #server}}active{{/if}}">
            <a>
              {{#server.name}}
              <button type="button" class="close" on-click="remove(#i)">&times;</button>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="col-md-9">
      <tabs selected-index="{{_page.currentTab}}">
        <pane title="Terminal">
          <view name="saron-terminal"></view>
        </pane>
        <pane title="Terminal2">
          <view name="saron-terminal2"></view>
        </pane>
        <!--<pane title="Console">-->
          <!--<view name="saron-console"></view>-->
        <!--</pane>-->
        <pane title="Logs">
          :)
        </pane>
      </tabs>
    </div>
  </div>