<import: src="./home">
<import: src="./login">
<import: src="./admin">

<Head:>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<Title:>
  {{pageTitle($render.ns)}}

<Body:>
  <view name="d-connection-alert"></view>
  <view name="d-before-unload"></view>
  <nav as="navBar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" on-click="toggleMenu()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Saron</a>
      </div>
      <div class="collapse navbar-collapse {{if _page.showMenu}}in{{/}}">
        <ul class="nav navbar-nav">
          {{each navItems($render.ns) as #item}}
            <li class="{{#item.isCurrent ? 'active' : ''}}">
              {{if #item.isCurrent}}
                <a>{{#item.title}}</a>
              {{else}}
                <a href="{{#item.href}}">{{#item.title}}</a>
              {{/if}}
            </li>
          {{/each}}
        </ul>
        {{if _session.loggedIn}}
          <ul class="nav navbar-nav navbar-right">
            <li><a>{{_session.user.email}}</a></li>
            <li><a href="/auth/logout" class="">Logout</a></li>
          </ul>
        {{else}}
          <a href="/login" class="btn btn-default navbar-btn navbar-right">Connect</a>
        {{/if}}
      </div>
    </div>
  </nav>

  {{if _session.flash.error}}
    <alert type="danger" dismiss="&times;">{{_session.flash.error}}</alert>
  {{/if}}

  <view name="{{$render.ns}}"></view>

  <script type="text/javascript" src="/primus.io.js"></script>
  <script type="text/javascript" src="/js/gauge.min.js"></script>
  <!--<script type="text/javascript" src="/term.js"></script>-->
