body.admin
  overflow-x hidden

.server-list
  margin-bottom 10px

  li
    position relative

  p
    width calc(100% - 25px)
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  .dicon
    margin-right 10px
    font-size 12px

  .sicon
    position absolute
    right 10px
    top calc(50% - 7px)
    font-size 17px

  .glyphicon
    color #4DAB4F

  .glyphicon-exclamation-sign
    color #A94442

  .active
    .glyphicon
      color white

.sserver
  cursor pointer

.content-target
  &.xsmall-screen
    .nav-tabs
      a
        padding 6px 10px

.tab-pane
  width 100%
  min-height 100%
  position relative

  border-left #dfdfdf solid 1px
  border-right #dfdfdf solid 1px
  border-bottom #dfdfdf solid 1px

.disconnected
  /*opacity 0.4*/

.right-bottom-alert
  position fixed
  right 25px
  bottom 5px

.server-settings
  padding 10px

  > div
    padding 16px
    margin-bottom 10px


  .server-title
    background #E6FFE6
    h1
      margin 0
  .dangerous-area
    background #FFD3D3
    margin-bottom 0

  h2
    font-size 20px
    margin-bottom 5px

  .server-alerts-settings
    background #fcf8e3
    input
      margin 5px
    input[type="number"]
      width 34px
      padding 4px 8px
      text-align right
      outline none
      color #333
      background-color #FFF
      background-repeat no-repeat
      background-position right center
      border 1px solid #CCC
      border-radius 3px
      box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.075)
      vertical-align middle
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
      -webkit-appearance none
      margin 0
    .input-big
      width 48px !important