.tab-pane
  width 100%
  min-height 100%
  position relative

  border-left #dfdfdf solid 1px
  border-right #dfdfdf solid 1px
  border-bottom #dfdfdf solid 1px

.disconnected
  /*opacity: 0.4*/

.right-bottom-alert
  position fixed
  right 25px
  bottom 5px


.server-list
  .glyphicon
    float: right;
    font-size: 17px;
    color: #4DAB4F

  .glyphicon-exclamation-sign
    color #A94442

  .active
    .glyphicon
      color white

.server-settings
  padding 10px

  .server-title
    margin 0
    padding 16px
    background #E6FFE6
    margin-bottom 10px
  .dangerous-area
    background #FFD3D3
    padding 16px

  h2
    font-size 20px
    margin 5px 0